*{
    margin: 0;
    padding: 0;
}
*, ::after, ::before{
    box-sizing: unset!important;
}

body{
    width: 100vw;
    overflow: scroll;
    background-color: #fff;
}

ul{
    list-style: none;
}

.Layout{
    width: 100%;
    height: 100%;
    display: flex;
}

/* Left Bar style */
.LeftBar{
    width: 11vw;
    height: auto;
    background-color: #b8b8d4;
    position: relative;
    display: flex;
}

.LeftBar ul{
    list-style: none;
    width: 100%;
    height: 11vw;
    flex: 1;
}

.LeftBar li{
    width: 100%;
    height: 11vw;
    display: flex;
}

/* Left Bar style when hovering */
.LeftBar li.active, .LeftBar li.active:hover{
    background-color: #fff;
}

.LeftBar li:hover{
    background-color: rgba(255,255,255,0.2);
}

/* Main Body style */
#MainContent{
    width: 75%;
}

/* Welcome Slogan style */
#Welcome{
    height: 15vh;
    margin-top: 10vh;
    margin-bottom: 3vh;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    justify-items: left;
}

#hr-1{
    color: #b8b8d4;
}

/* Music Player style */
#Music{
    max-width: 450px;
    margin-bottom: 8vh;
}

/* Album Cover */
#AlbumCover{
    max-width: 100%;
}

#AlbumCover::before{
    content: " ";
}

#MusicInfo{
    height: 50%;
    background-color: #dddddd;
}

#ClickButton{
    height: 50%;
    background-color: #dddddd;
}

h6{
    background-color: #dddddd;
    font-family: 'Work Sans', sans-serif;
}

#MusicName{
    padding-top: 2.3vh;
    padding-left: 0;
    padding-right: 0;
}

#hr-2{
    border: none;
}

/* Progress Bar */
.ProgressBox{
    position: relative;
    height: 0.8vh;
    background-color: #fff;
    cursor: pointer;
}

.HoverBar{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.ProgressBar{
    position: absolute;
    background-color: #fff;
    z-index: 1;
}

/* Play Button */
.PlayButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    border: none;
}

.PlayButtons:hover{
    fill: #fff;
}

#WeeklyPlan{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Weekly Task Detail */
#List{
    width: 15%;
}

#List ul{
    padding: 0;
    text-align: center;
}

#List ul li{
    border: 1px solid #b8b8d4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    padding: 10px 0;
    background-color:#dfdcee;
}

#List ul li:nth-child(1){
    font-size: 24px;
    font-weight: 800;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #fff;
}

#List ul li:nth-child(2){
    background-color: #c0b9ce;
}

.SearchBar{
    margin-bottom: 8vh;
}

#SearchInput{
    height: 10vh;
    outline: none;
    background-color: #dddddd;
    border: none;
}

#SearchIcon{
    height: 10vh;
    outline: none;
    background-color: #b8b8d4;
    border: none;
}

#SearchInfo, #WordInfo, #SearchHistory{
    height: 30vh;
}

#WordInfo{
    padding-left: 0;
    padding-right: 8vw;;
}